.websiteBody{
  margin: 0;
}.Page{
  display:block;
  margin:auto;
  width:100%;
  height:auto;
  pointer-events:auto;
}
.Page-outer{
  pointer-events:none;
  z-index:1;
}
.Frame{
  position:relative;
  z-index:2;
  pointer-events:none;
  width:100%;
  margin-left:0;
  height:1415px;
  min-width:200px;
  max-width:999px;
  margin:auto;
  background-color:#ffffff;
}
.Frame-outer{
  pointer-events:none;
  z-index:2;
}
.Rectangle-1{
  position:relative;
  z-index:3;
  pointer-events:none;
  margin-left:0px;
  width:999px;
  min-width:999px;
  height:1400px;
  margin-top:10px;
  margin-bottom:5px;
  min-height:1400px;
  background-color:rgba(111, 170, 239, 1);
  mix-blend-mode:multiply;
}
.Rectangle-1-outer{
  pointer-events:none;
  position:relative;
  display:flex;
}
.navbar{
  position:relative;
  z-index:4;
  pointer-events:none;
  margin-left:15px;
  width:972px;
  min-width:972px;
  height:65px;
  margin-top:-1389px;
  margin-bottom:1324px;
  min-height:65px;
}
.navbar-outer{
  pointer-events:none;
  z-index:4;
  position:relative;
  display:flex;
}
.Rectangle-2{
  position:relative;
  z-index:5;
  pointer-events:none;
  margin-left:0px;
  width:972px;
  min-width:972px;
  height:65px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:65px;
  background-color:rgba(60, 170, 177, 1);
  border:1px solid rgba(1, 96, 126, 1);
  box-sizing:border-box;
  border-radius:55px;
}
.Rectangle-2-outer{
  pointer-events:none;
  z-index:5;
  position:relative;
  display:flex;
}
.Logo{
  position:relative;
  z-index:10;
  pointer-events:none;
  margin-left:34px;
  width:45px;
  min-width:45px;
  height:45px;
  margin-top:-55px;
  margin-bottom:10px;
  min-height:45px;
}
.Logo-outer{
  pointer-events:none;
  z-index:10;
  position:relative;
  display:flex;
}
.Ellipse-1{
  position:relative;
  z-index:11;
  pointer-events:none;
  margin-left:-7px;
  width:59px;
  min-width:59px;
  height:59px;
  margin-top:-7px;
  margin-bottom:-7px;
  min-height:59px;
  content:url(assets/images/Ellipse_1.png);
}
.Ellipse-1-outer{
  pointer-events:none;
  z-index:11;
  position:relative;
  display:flex;
}
.KRYPTIX{
  position:relative;
  z-index:12;
  pointer-events:none;
  margin-left:8px;
  width:18.24px;
  min-width:18.24px;
  height:12px;
  margin-top:-28px;
  margin-bottom:16px;
  min-height:12px;
}
.KRYPTIX-outer{
  pointer-events:none;
  z-index:12;
  position:relative;
  display:flex;
}
.K{
  position:relative;
  z-index:13;
  pointer-events:none;
  margin-left:10.964912280701755%;
  width:92.10526315789474%;
  height:500%;
  margin-top:-131.57894736842107%;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:700;
  font-size:40px;
  line-height:60.4444465637207px;
}
.K-outer{
  pointer-events:none;
  z-index:13;
  position:absolute;
  display:flex;
  width:100%;
  height:100%;
  left:0;
  top:0;
}
.About{
  position:relative;
  z-index:9;
  pointer-events:none;
  margin-left:496px;
  width:75px;
  min-width:75px;
  margin-top:-52px;
  margin-bottom:14px;
  min-height:38px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:25px;
  line-height:38.22222137451172px;
}
.About-outer{
  pointer-events:none;
  z-index:9;
  position:relative;
  display:flex;
}
.Home{
  position:relative;
  z-index:8;
  pointer-events:none;
  margin-left:638px;
  width:75px;
  min-width:75px;
  margin-top:-52px;
  margin-bottom:14px;
  min-height:38px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:25px;
  line-height:38.22222137451172px;
}
.Home-outer{
  pointer-events:none;
  z-index:8;
  position:relative;
  display:flex;
}
.Contact-us{
  position:relative;
  z-index:7;
  pointer-events:none;
  margin-left:768px;
  width:138px;
  min-width:138px;
  margin-top:-52px;
  margin-bottom:14px;
  min-height:38px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:25px;
  line-height:38.22222137451172px;
}
.Contact-us-outer{
  pointer-events:none;
  z-index:7;
  position:relative;
  display:flex;
}
.KRYPTIX-1{
  position:relative;
  z-index:6;
  pointer-events:none;
  margin-left:97px;
  width:95px;
  min-width:95px;
  margin-top:-52px;
  margin-bottom:14px;
  min-height:38px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:25px;
  line-height:38.22222137451172px;
}
.KRYPTIX-1-outer{
  pointer-events:none;
  z-index:6;
  position:relative;
  display:flex;
}
.Hi-there-{
  position:relative;
  z-index:14;
  pointer-events:none;
  margin-left:65px;
  width:124px;
  min-width:124px;
  margin-top:-1266px;
  margin-bottom:1221px;
  min-height:45px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:44.4444465637207px;
}
.Hi-there--outer{
  pointer-events:none;
  z-index:14;
  position:relative;
  display:flex;
}
.Rectangle-16{
  position:relative;
  z-index:15;
  pointer-events:none;
  margin-left:81px;
  width:840px;
  min-width:840px;
  height:446px;
  margin-top:-1138px;
  margin-bottom:692px;
  min-height:446px;
  background-color:rgba(149, 207, 239, 1);
  border-radius:22px;
}
.Rectangle-16-outer{
  pointer-events:none;
  z-index:15;
  position:relative;
  display:flex;
}
.Rectangle-17{
  position:relative;
  z-index:41;
  pointer-events:none;
  margin-left:326px;
  width:301px;
  min-width:301px;
  height:69px;
  margin-top:-1075px;
  margin-bottom:1006px;
  min-height:69px;
  content:url(assets/images/Rectangle_17.png);
}
.Rectangle-17-outer{
  pointer-events:none;
  z-index:41;
  position:relative;
  display:flex;
}
.About-us{
  position:relative;
  z-index:42;
  pointer-events:none;
  margin-left:416px;
  width:133px;
  min-width:133px;
  margin-top:-1063px;
  margin-bottom:1018px;
  min-height:45px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:44.4444465637207px;
}
.About-us-outer{
  pointer-events:none;
  z-index:42;
  position:relative;
  display:flex;
}
.We-are-an-educationa{
  position:relative;
  z-index:16;
  pointer-events:none;
  margin-left:178px;
  width:653px;
  min-width:653px;
  margin-top:-1003px;
  margin-bottom:673px;
  min-height:330px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:44.4444465637207px;
}
.We-are-an-educationa-outer{
  pointer-events:none;
  z-index:16;
  position:relative;
  display:flex;
}
.Rectangle-17-1{
  position:relative;
  z-index:17;
  pointer-events:none;
  margin-left:81px;
  width:840px;
  min-width:840px;
  height:446px;
  margin-top:-572px;
  margin-bottom:126px;
  min-height:446px;
  background-color:rgba(149, 207, 239, 1);
  border-radius:22px;
}
.Rectangle-17-1-outer{
  pointer-events:none;
  z-index:17;
  position:relative;
  display:flex;
}
.Rectangle-18{
  position:relative;
  z-index:19;
  pointer-events:none;
  margin-left:349px;
  width:301px;
  min-width:301px;
  height:69px;
  margin-top:-545px;
  margin-bottom:476px;
  min-height:69px;
  content:url(assets/images/Rectangle_18.png);
}
.Rectangle-18-outer{
  pointer-events:none;
  z-index:19;
  position:relative;
  display:flex;
}
.Contents{
  position:relative;
  z-index:20;
  pointer-events:none;
  margin-left:433px;
  width:232px;
  min-width:232px;
  margin-top:-531px;
  margin-bottom:476px;
  min-height:55px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:44.4444465637207px;
}
.Contents-outer{
  pointer-events:none;
  z-index:20;
  position:relative;
  display:flex;
}
.Class-9-students{
  position:relative;
  z-index:18;
  pointer-events:none;
  margin-left:143px;
  width:248px;
  min-width:248px;
  margin-top:-403px;
  margin-bottom:349px;
  min-height:54px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:44.4444465637207px;
}
.Class-9-students-outer{
  pointer-events:none;
  z-index:18;
  position:relative;
  display:flex;
}
.Group-7{
  position:relative;
  z-index:23;
  pointer-events:none;
  margin-left:464px;
  width:142px;
  min-width:142px;
  height:44px;
  margin-top:-398px;
  margin-bottom:354px;
  min-height:44px;
}
.Group-7-outer{
  pointer-events:none;
  z-index:23;
  position:relative;
  display:flex;
}
.Rectangle-14-2{
  position:relative;
  z-index:24;
  pointer-events:none;
  margin-left:0px;
  width:142px;
  min-width:142px;
  height:44px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:44px;
  background-color:rgba(151, 173, 229, 1);
  border-radius:12px;
}
.Rectangle-14-2-outer{
  pointer-events:none;
  z-index:24;
  position:relative;
  display:flex;
}
.CLICK-HERE-2{
  position:relative;
  z-index:25;
  pointer-events:none;
  margin-left:30px;
  width:82px;
  min-width:82px;
  margin-top:-34px;
  margin-bottom:11px;
  min-height:23px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:15px;
  line-height:23.11111068725586px;
}
.CLICK-HERE-2-outer{
  pointer-events:none;
  z-index:25;
  position:relative;
  display:flex;
}
.Group-8{
  position:relative;
  z-index:26;
  pointer-events:none;
  margin-left:464px;
  width:142px;
  min-width:142px;
  height:44px;
  margin-top:-314px;
  margin-bottom:270px;
  min-height:44px;
}
.Group-8-outer{
  pointer-events:none;
  z-index:26;
  position:relative;
  display:flex;
}
.Rectangle-14-1{
  position:relative;
  z-index:27;
  pointer-events:none;
  margin-left:0px;
  width:142px;
  min-width:142px;
  height:44px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:44px;
  background-color:rgba(151, 173, 229, 1);
  border-radius:12px;
}
.Rectangle-14-1-outer{
  pointer-events:none;
  z-index:27;
  position:relative;
  display:flex;
}
.CLICK-HERE-1{
  position:relative;
  z-index:28;
  pointer-events:none;
  margin-left:30px;
  width:82px;
  min-width:82px;
  margin-top:-34px;
  margin-bottom:11px;
  min-height:23px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:15px;
  line-height:23.11111068725586px;
}
.CLICK-HERE-1-outer{
  pointer-events:none;
  z-index:28;
  position:relative;
  display:flex;
}
.Class-10-students{
  position:relative;
  z-index:21;
  pointer-events:none;
  margin-left:143px;
  width:273px;
  min-width:273px;
  margin-top:-314px;
  margin-bottom:261px;
  min-height:53px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:44.4444465637207px;
}
.Class-10-students-outer{
  pointer-events:none;
  z-index:21;
  position:relative;
  display:flex;
}
.Group-9{
  position:relative;
  z-index:29;
  pointer-events:none;
  margin-left:464px;
  width:142px;
  min-width:142px;
  height:44px;
  margin-top:-225px;
  margin-bottom:181px;
  min-height:44px;
}
.Group-9-outer{
  pointer-events:none;
  z-index:29;
  position:relative;
  display:flex;
}
.Rectangle-14{
  position:relative;
  z-index:30;
  pointer-events:none;
  margin-left:0px;
  width:142px;
  min-width:142px;
  height:44px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:44px;
  background-color:rgba(151, 173, 229, 1);
  border-radius:12px;
}
.Rectangle-14-outer{
  pointer-events:none;
  z-index:30;
  position:relative;
  display:flex;
}
.CLICK-HERE{
  position:relative;
  z-index:31;
  pointer-events:none;
  margin-left:30px;
  width:82px;
  min-width:82px;
  margin-top:-34px;
  margin-bottom:11px;
  min-height:23px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:15px;
  line-height:23.11111068725586px;
}
.CLICK-HERE-outer{
  pointer-events:none;
  z-index:31;
  position:relative;
  display:flex;
}
.Class-10-graduates{
  position:relative;
  z-index:22;
  pointer-events:none;
  margin-left:143px;
  width:321px;
  min-width:321px;
  margin-top:-225px;
  margin-bottom:150px;
  min-height:75px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:400;
  font-size:30px;
  line-height:44.4444465637207px;
}
.Class-10-graduates-outer{
  pointer-events:none;
  z-index:22;
  position:relative;
  display:flex;
}
.Group-15{
  position:relative;
  z-index:32;
  pointer-events:none;
  margin-left:1px;
  width:999px;
  min-width:999px;
  height:48px;
  margin-top:-58px;
  margin-bottom:10px;
  min-height:48px;
}
.Group-15-outer{
  pointer-events:none;
  z-index:32;
  position:relative;
  display:flex;
}
.Rectangle-15{
  position:relative;
  z-index:33;
  pointer-events:none;
  margin-left:0px;
  width:998px;
  min-width:998px;
  height:48px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:48px;
  content:url(assets/images/Rectangle_15.png);
}
.Rectangle-15-outer{
  pointer-events:none;
  z-index:33;
  position:relative;
  display:flex;
}
.Group-14{
  position:relative;
  z-index:34;
  pointer-events:none;
  margin-left:833px;
  width:114px;
  min-width:114px;
  height:22px;
  margin-top:-35px;
  margin-bottom:13px;
  min-height:22px;
}
.Group-14-outer{
  pointer-events:none;
  z-index:34;
  position:relative;
  display:flex;
}
.image-9{
  position:relative;
  z-index:35;
  pointer-events:none;
  margin-left:0px;
  width:15.19px;
  min-width:15.19px;
  height:22px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:22px;
  content:url(assets/images/image_9.png);
}
.image-9-outer{
  pointer-events:none;
  z-index:35;
  position:relative;
  display:flex;
}
.Facebook{
  position:relative;
  z-index:36;
  pointer-events:none;
  margin-left:24px;
  width:90px;
  min-width:90px;
  margin-top:-18px;
  margin-bottom:0px;
  min-height:18px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:12px;
  line-height:17.77777862548828px;
}
.Facebook-outer{
  pointer-events:none;
  z-index:36;
  position:relative;
  display:flex;
}
.Group-13{
  position:relative;
  z-index:37;
  pointer-events:none;
  margin-left:701px;
  width:119px;
  min-width:119px;
  height:24px;
  margin-top:-34px;
  margin-bottom:10px;
  min-height:24px;
}
.Group-13-outer{
  pointer-events:none;
  z-index:37;
  position:relative;
  display:flex;
}
.image-8{
  position:relative;
  z-index:38;
  pointer-events:none;
  margin-left:0px;
  width:24px;
  min-width:24px;
  height:24px;
  margin-top:0px;
  margin-bottom:0px;
  min-height:24px;
  content:url(assets/images/image_8.png);
}
.image-8-outer{
  pointer-events:none;
  z-index:38;
  position:relative;
  display:flex;
}
.Twitter{
  position:relative;
  z-index:39;
  pointer-events:none;
  margin-left:29px;
  width:90px;
  min-width:90px;
  margin-top:-19px;
  margin-bottom:1px;
  min-height:18px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(255, 255, 255, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:12px;
  line-height:17.77777862548828px;
}
.Twitter-outer{
  pointer-events:none;
  z-index:39;
  position:relative;
  display:flex;
}
.KRYPTIX-LTD-{
  position:relative;
  z-index:40;
  pointer-events:none;
  margin-left:86px;
  width:115px;
  min-width:115px;
  margin-top:-46px;
  margin-bottom:19px;
  min-height:27px;
  text-align:left;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  color:rgba(0, 0, 0, 1);
  font-style:normal;
  font-family:Poppins;
  font-weight:600;
  font-size:18px;
  line-height:26.66666603088379px;
}
.KRYPTIX-LTD--outer{
  pointer-events:none;
  z-index:40;
  position:relative;
  display:flex;
}
